@model JournalForSecurity.ViewModels.ChangePassModel
@{
    ViewData["Title"] = "Изменение пароля";
}

<h1>Изменение пароля</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input required asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input required asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComparePassword" class="control-label"></label>
                <input required asp-for="ComparePassword" class="form-control" />
                <span asp-validation-for="ComparePassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Изменить"/>
            </div>
        </form>
    </div>
</div>

