@model IEnumerable<Department>
@{
    ViewData["Title"] = "SwitchDepartment";
}

<h1>SwitchDepartment</h1>
<hr />
<div class="row flex-sm-row">
    @foreach (var item in Model)
    {
    <div class="col-sm-4">
        <div class="card">
            <a class="btn btn-outline-dark" asp-action="Index" asp-controller="@ViewBag.Role" asp-route-department="@item.Name" x>
                @item.Name
            </a>
        </div>
        <br />
    </div>
    }
</div>