<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JournalForSecurity</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand">Журнал обхода территории</a>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#CollapseSup" aria-expanded="false" aria-controls="#CollapseSup">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="CollapseSup">
                            <ul class="navbar-nav mr-auto">
                                @{
                                    if (User.IsInRole("Security"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="Index" asp-controller="Security">Журнал</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="Tasks" asp-controller="Security">Задачи</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="Events" asp-controller="Security">События</a>
                                        </li>
                                    }
                                    if (User.IsInRole("HeadOfDepartment"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="Index" asp-controller="HeadOfDepartment">Журнал</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="Tasks" asp-controller="HeadOfDepartment">Задачи</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="Events" asp-controller="HeadOfDepartment">События</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="Requests" asp-controller="HeadOfDepartment">Запросы</a>
                                        </li>
                                    }
                                    if (User.IsInRole("HeadOfOrganisation"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="Index" asp-controller="HeadOfOrganisation">Отчеты</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="Events" asp-controller="HeadOfOrganisation">События</a>
                                        </li>
                                    }
                                }
                            </ul>
                            <form class="justify-content-end" asp-controller="Account" asp-action="Logout">
                                <input type="submit" class="btn btn-danger" value="Выход">
                            </form>                           
                        </div>
                    }
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - JournalForSecurity
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
